<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common-head"></head>
<body class="container">
<div th:replace="~{fragments/admin-navbar :: admin-navbar}"></div>

<main>
    <div class="container bg-secondary-subtle p-4">
        <div class="row">
            <div th:replace="~{fragments/admin-sidebar :: admin-sidebar}"></div>

            <div class="col-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tên loại phòng chiếu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="roomType: ${roomTypes}">
                        <td th:text="${roomType.roomTypeId}">1</td>
                        <td th:text="${roomType.roomTypeName}">Hà Nội</td>
                    </tr>
                    </tbody>
                </table>

                <h2>Thêm khu vực</h2>
                <form th:action="@{/admin/roomType/addRoomType}" method="post" th:object="${newRoomType}">
                    <div class="mb-3">
                        <label for="roomTypeName" class="form-label">Tên loại phòng chiếu</label>
                        <input type="text" th:field="*{roomTypeName}" class="form-control" id="roomTypeName" >
                    </div>

                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>


            </div>
        </div>
    </div>
</main>


</body>
</html>