<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common-head"></head>
<body class="container">
<div th:replace="~{fragments/admin-navbar :: admin-navbar}"></div>

<main>
    <div class="container bg-secondary-subtle p-4">
        <div class="row">
            <div th:replace="~{fragments/admin-sidebar :: admin-sidebar}"></div>

            <div class="col-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Họ tên</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.userId}">1</td>
                        <td th:text="${user.email}">Hà Nội</td>
                        <td th:text="${user.fullName}">Hà Nội</td>
                    </tr>
                    </tbody>
                </table>
                


            </div>
        </div>
    </div>
</main>


</body>
</html>