<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common-head"></head>
<body class="container">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>


    <div class="container bg-secondary-subtle p-4">
        <div class="row">


            <div class="col-12 col-lg-3 mb-3 mb-lg-0">


                <div th:replace="~{fragments/user-sidebar :: user-sidebar}"></div>


            </div>
            <div class="col-12 col-lg-9">
                <h5 class="montserrat-bold">Thông tin tài khoản</h5>
                <div>
                    <span class="fw-bold">Họ tên: </span>
                    <span th:text="${user.fullName}">Tên: Huỳnh Minh Nhựt</span>
                </div>
                <div>
                    <span class="fw-bold">Email: </span>
                    <span th:text="${user.email}">Email: minhnhut@gmail.com</span>
                </div>




            </div>

        </div>

    </div>

</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>