<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common-head"></head>
<body class="container">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>


    <div class="container bg-secondary-subtle p-4">
        <div class="row">


            <div class="col-12 col-lg-3 mb-3 mb-lg-0">


                <div th:replace="~{fragments/user-sidebar :: user-sidebar}"></div>


            </div>
            <div class="col-12 col-lg-9">


                <h5 class="montserrat-bold">Vé của bạn</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Phim</th>
                            <th>Giờ chiếu</th>
                            <th>Tổng tiền</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bill : ${bills}">
                            <td th:text="${bill.showtime.movie.movieName}"></td>
                            <td th:text="${#temporals.format(bill.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                            <td class="text-warning"
                                th:text="${#numbers.formatDecimal(bill.total, 0, 'COMMA', 0, 'POINT')} + ' đ'"></td>
                            <td>
                                <a th:href="@{/bill/{id}(id=${bill.billId})}" class="btn btn-primary btn-sm">Xem</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

        </div>

    </div>

</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>