<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="admin-sidebar" class="col-2">


    <ul class="nav flex-column ">
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/region">Khu vực</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/cinema">Rạp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/room">Phòng chiếu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/movie">Phim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/genre">Thể loại</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="#">Hóa Đơn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="#">Người dùng</a>
        </li>
    </ul>


</div>


</body>
</html>