<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="admin-sidebar" class="col-2">


    <ul class="nav flex-column ">
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/region">Khu vực</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/cinema">Rạp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/room">Phòng chiếu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/movie">Phim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/genre">Thể loại</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/roomType">Loại phòng chiếu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/seatType">Loại ghế</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/concession">Bắp nước</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/giftCard">Thẻ quà tặng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/gift_card_image">Hình thẻ quà tặng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="#">Hóa Đơn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/user">Người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link montserrat-bold" href="/admin/banner">Banner</a>
        </li>
    </ul>


</div>


</body>
</html>