<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>



<div th:fragment="cinema-showtime-card" class="card w-100 mb-3">
    <div class="card-body">
        <h5 class="montserrat-bold">
            Rạp Cinestar Vincom Xuân Khánh &nbsp;<i
                class="bi bi-heart"
        ></i>
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
            209 Đ. 30 Tháng 4, Xuân Khánh, Ninh Kiều, Cần Thơ
        </h6>
        <div class="d-flex column-gap-2 mb-2">
            <button class="btn btn-warning fw-bold" style="width: 5rem">
                15:40
            </button>
            <button class="btn btn-warning fw-bold" style="width: 5rem">
                18:00
            </button>
            <button class="btn btn-warning fw-bold" style="width: 5rem">
                21:30
            </button>
            <button class="btn btn-warning fw-bold" style="width: 5rem">
                18:00
            </button>
            <button class="btn btn-warning fw-bold" style="width: 5rem">
                21:30
            </button>
        </div>
    </div>
</div>

</body>
</html>