<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark bg-secondary-subtle border-bottom"
>
    <div class="container-fluid">
        <a class="navbar-brand montserrat-display fs-2 text-warning" href="/"
        >CINESTAR</a
        >

        <form class="d-flex me-auto" role="search">
            <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Tìm phim, rạp"
                    aria-label="Search"
            />
            <button class="btn btn-warning" type="submit">Tìm</button>
        </form>

        <ul class="navbar-nav mb-0">
            <li class="nav-item">
                <a
                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"
                        href="/"
                >
                    <i class="bi bi-camera-reels-fill"></i> Phim</a
                >
            </li>
            <li class="nav-item">
                <a
                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"
                        href="/"
                >
                    <i class="bi bi-film"></i> Rạp</a
                >
            </li>
            <li class="nav-item">
                <a
                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"
                        href="/"
                >
                    <i class="bi bi-gift-fill"></i> Quà tặng</a
                >
            </li>
            <li class="nav-item">
                <a
                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"
                        href="/"
                >
                    <i class="bi bi-list-task"></i> Tin tức</a
                >
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a
                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"
                        th:href="@{/register}"
                >
                    <i class="bi bi-person-circle"></i> Đăng ký</a
                >
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a
                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"
                        th:href="@{/login}"
                >
                    <i class="bi bi-person-circle"></i> Đăng nhập</a
                >
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a
                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"
                        th:href="@{/login}"
                >
                    <i class="bi bi-person-circle"></i> <span sec:authentication="principal.fullName"></span> </a
                >
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
<!--                <a-->
<!--                        class="nav-link active fw-bold d-flex flex-column align-items-center montserrat-bold"-->
<!--                        th:href="@{/logout}"-->
<!--                >-->
<!--                    <i class="bi bi-person-circle"></i> Đăng xuất </a-->
<!--                >-->

                            <form th:action="@{/logout}" method="post">

                                <input type="submit" value="Sign Out" />
                            </form>

            </li>
        </ul>


<!--        <div sec:authorize="isAnonymous()">-->
<!--            <h3><a th:href="@{/register}">Register</a></h3>-->
<!--            <h3><a th:href="@{/login}">Login</a></h3>-->
<!--        </div>-->
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--                <p>-->
<!--                    Welcome <b><span sec:authentication="principal.fullName"></span></b>-->
<!--                <div th:text="${#authentication.getPrincipal().getId()}"></div>-->

<!--                </p>-->
<!--                <input type="submit" value="Sign Out" />-->
<!--            </form>-->
<!--        </div>-->


    </div>
</nav>
</body>
</html>