<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common-head"></head>
<body class="container">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>

<div class="container bg-secondary-subtle p-4">
    <div class="row pb-5">
        <div class="col-4">

        </div>

        <div class="col-4">

            <div th:replace="~{fragments/cart :: cart(${cart})}"></div>


        </div>

        <div class="col-4"></div>


    </div>

</div>

</main>
</body>
<script th:inline="javascript">

    
</script>
</html>