<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common-head"></head>
<body class="container">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
    <div
            id="carouselExampleIndicators"


            class="carousel slide pt-4 bg-secondary-subtle"
    >
        <div class="carousel-indicators" data-bs-theme="light">
            <button th:each="banner, iterStat: ${banners}"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    th:data-bs-slide-to="${iterStat.index}"
                    th:class="${iterStat.first} ? 'active' : ''"
                    th:aria-current="${iterStat.first}"
                    th:aria-label="'Slide ' + ${iterStat.count}"
            ></button>
        </div>
        <div class="carousel-inner">
            <div th:each="banner, iterStat: ${banners}"
                 th:class="${iterStat.first} ? 'carousel-item active' : 'carousel-item'">
                <a th:href="@{${banner.link != null and banner.link != '' ? banner.link : '#'}}"
                   class="d-block w-100 h-100 ratio" style="--bs-aspect-ratio: 33.333%;">
                    <img
                            th:src="@{${banner.banner}}"
                            class="object-fit-cover"
                            alt="..."
                    />
                </a>

            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
                data-bs-theme="light"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
                data-bs-theme="light"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

<div class="container bg-secondary-subtle p-4">
    <h2 class="montserrat-display mb-3">Phim đang chiếu</h2>
    <div class="row row-gap-4 mb-3">
        <div th:each="movie: ${topShowingMovies}" class="col-6 col-lg-3">
            <div th:replace="~{fragments/movieCard :: movieCard(${movie})}"></div>
        </div>
    </div>

    <div class="text-center mb-5">
        <a href="/movie?showingOrUpcoming=showing" type="button" class="btn btn-outline-warning">
            Xem thêm >
        </a>
    </div>



    <h2 class="montserrat-display mb-3">Phim sắp chiếu</h2>
    <div class="row row-gap-4 mb-3">
        <div th:each="movie: ${topUpcomingMovies}" class="col-6 col-lg-3">
            <div th:replace="~{fragments/movieCard :: movieCard(${movie})}"></div>
        </div>
    </div>

    <div class="text-center mb-5">
        <a href="/movie?showingOrUpcoming=upcoming" type="button" class="btn btn-outline-warning">
            Xem thêm >
        </a>
    </div>

</div>

</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>